body{
    background-color: #f2f2f2;
    font-family: sans-serif;
}


header {
        width: 800px;
        margin: auto;
        display: flex
}

.site-title-link {
        color: black;
        font-size: 38px;
        font-weight: 300;
        text-decoration: none;
}
.navigation {
        margin-left: auto;
        margin-top: none;
        margin-bottom: none;
        display: flex;
        text-decoration: none; 
        list-style-type: none;
        padding-left: 0;
}
.navigation li {
        margin-left: 20px;
        margin-top: 10px;
}
.navigation li a {
        color: #555;
        text-decoration: none;
        font-size: 20px;
}
main {
        width: 640px;
        margin: auto;
}

h1 {
        font-size: 35;
        font-weight: 400;
        text-align: center;
        margin-top: 75px;
        margin-bottom: 30px;

}

.post-meta {
        text-align: center;
        font-size: 14;


}
.post-date {
    color: #888;
    margin-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
a.button {
        background-color: #3f8eba;
        color: #fff;
        padding: 8px 20px; 
        text-decoration: none;
}
.post-content {
        margin-top: 40px;
}
.post-content p {
        font-family: serif;
        line-height: 1.3;
        font-size: 18px; 
}

footer {
    width: 640px;
    margin: 40px auto 0;
    border-top: 1px #888 solid;
}
​
.footer-navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
​
.navigation li {
    margin-top: 20px;
    margin-right: 30px;
}
​
.footer-navigation li a {
    font-size: 20px;
    color: #888;
    text-decoration: none;
}
​
.copyright {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #888;
}